<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-logo">
    @if (!collapsed) {
      <img src="assets/expand-icon.svg" alt="Luftborn Logo" class="logo-image">
      <span class="sidebar-logo-text">Luftborn</span>
    } @else {
      <img src="assets/collapse-icon.svg" alt="Luftborn" class="logo-image-collapsed">
    }
  </div>

  <nav class="sidebar-nav">
    <ng-container *ngFor="let item of navItems">
      <a [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <span class="nav-item-icon">
            <i class="fas fa-box"></i>
        </span>
        <span class="nav-item-text" *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </ng-container>
  </nav>

  <div class="sidebar-footer">
    <div class="user-menu">
      <div class="user-avatar">IM</div>
      <div class="user-info" *ngIf="!collapsed">
        <span class="user-name">Islam Mohamed</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
  </div>
</aside>
