<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-logo">
    @if (!collapsed) {
      <img src="assets/expand-icon.svg" alt="Luftborn Logo" class="logo-image">
    } @else {
      <img src="assets/collapse-icon.svg" alt="Luftborn" class="logo-image-collapsed">
    }
  </div>

  <nav class="sidebar-nav">
    <ng-container *ngFor="let item of navItems">
      <a [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <span class="nav-item-icon">
          <div class="icon" [style.mask-image]="'url(' + item.icon + ')'" [style.-webkit-mask-image]="'url(' + item.icon + ')'"></div>
        </span>
        <span class="nav-item-text" *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </ng-container>
  </nav>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas fa-chevron-left" [class.rotated]="collapsed"></i>
  </button>
</aside>
