<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-logo">
    @if (!collapsed) {
      <img src="assets/expand-icon.svg" alt="Luftborn Logo" class="logo-image">
      <span class="sidebar-logo-text">Luftborn</span>
    } @else {
      <img src="assets/collapse-icon.svg" alt="Luftborn" class="logo-image-collapsed">
    }
  </div>

  <nav class="sidebar-nav">
    <ng-container *ngFor="let item of navItems">
      <a [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <span class="nav-item-icon">
          <div class="icon" [style.mask-image]="'url(' + item.icon + ')'" [style.-webkit-mask-image]="'url(' + item.icon + ')'"></div>
        </span>
        <span class="nav-item-text" *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </ng-container>
  </nav>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <div class="icon" [class.rotated]="collapsed"></div>
  </button>

  <div class="sidebar-footer">
    <div class="user-menu">
      <div class="user-avatar">
        {{ (currentUser$ | async)?.firstName?.charAt(0) || 'U' }}{{ (currentUser$ | async)?.lastName?.charAt(0) || '' }}
      </div>
      <div class="user-info" *ngIf="!collapsed">
        <span class="user-name">{{ (currentUser$ | async)?.firstName }} {{ (currentUser$ | async)?.lastName }}</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
  </div>
</aside>
